if ARCH_NPCM7xx

config TARGET_POLEG
    bool "POLEG board"

config SYS_CPU
        default "armv7"

config SYS_SOC
	default "npcm7xx"

config SYS_MEM_TOP_HIDE
	hex "Reserved TOP memory"
	default 0x03000000

source "board/nuvoton/poleg/Kconfig"

endif
