if TARGET_NPCM750

config SYS_BOARD
	default "PolegSVB"

config SYS_VENDOR
	default "nuvoton"

config SYS_CPU
	default "armv7"

config SYS_SOC
	default "npcm750"

config SYS_CONFIG_NAME
	default "PolegSVB"

endif
