if TARGET_ARBEL_EVB

config SYS_BOARD
	default "arbel"

config SYS_VENDOR
	default "nuvoton"

config SYS_CONFIG_NAME
	default "arbel"

config SYS_MEM_TOP_HIDE
	hex "Reserved TOP memory"
	default 0x0
	help
	  Reserve memory for ECC/GFX/OPTEE/TIP/CP.

config EXT_TPM2_SPI
	bool "Support external TPM2 SPI device"
	default n

source "board/nuvoton/common/Kconfig"
endif
