if ARCH_NPCM

config SYS_ARCH
	default "arm"

config SYS_TEXT_BASE
	default 0x8000

config NPCM_SECURE_BOOT
	bool "NPCM Secure Boot"
	default n

config NIST_VERSION_ADDR
	hex "Linux NIST version address"
	depends on NPCM_SECURE_BOOT
	default 0x0
	help
	  The address of the Linux NIST version, which should be identical
	  to the u-boot version.
choice
	prompt "Nuvoton SoC select"
	default ARCH_NPCM8XX

config ARCH_NPCM8XX
	bool "Support Nuvoton NPCM8xx SoC"
	select ARM64

config ARCH_NPCM7xx
	select CPU_V7A
	select OF_CONTROL
	select DM
	bool "Support Nuvoton NPCM7xx SoC"

endchoice

source "arch/arm/mach-npcm/npcm8xx/Kconfig"
source "arch/arm/mach-npcm/npcm7xx/Kconfig"

endif
