// SPDX-License-Identifier: GPL-2.0
// Copyright (c) 2018 Nuvoton Technology

/ {
	pinctrl: pinctrl@f0800000 {
		gpio91o_pins: gpio91o-pins {
			pins = "gpio91";
			function = "gpio";
			bias-disable;
			output-high;
		};
		gpio92o_pins: gpio92o-pins {
			pins = "gpio92";
			function = "gpio";
			bias-disable;
			output-high;
		};
	};
};
