
CONFIG_EXTRA_ENV_SETTINGS="fdtcontroladdr=0x8000\0"
CONFIG_ARM=y
CONFIG_TARGET_NPCM750=y
CONFIG_SHA1=n
CONFIG_SHA256=n
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y
CONFIG_OF_CONTROL=n
CONFIG_OF_SEPARATE=n
CONFIG_FIT_SIGNATURE=y
CONFIG_RSA=y
CONFIG_SHA_HW_ACCEL=y
CONFIG_NUVOTON_SECURITY=y
CONFIG_NUVOTON_POLEG_SHA=y
CONFIG_NUVOTON_POLEG_RNG=y
CONFIG_LIB_RAND=n
CONFIG_FSL_CAAM=n
#CONFIG_SHA_PROG_HW_ACCEL=y
CONFIG_DEFAULT_DEVICE_TREE="nuvoton-poleg"
CONFIG_SHA256SUM_VERIFY=y


