
CONFIG_ARM=y
CONFIG_TARGET_NPCM750=y
CONFIG_SHA1=n
CONFIG_SHA256=n
CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y

CONFIG_FIT_SIGNATURE=y
CONFIG_RSA=y
CONFIG_SHA_HW_ACCEL=y
CONFIG_NUVOTON_SECURITY=y
CONFIG_NUVOTON_POLEG_SHA=y
CONFIG_NUVOTON_POLEG_RNG=y
CONFIG_LIB_RAND=n
CONFIG_FSL_CAAM=n
CONFIG_SHA_PROG_HW_ACCEL=y
CONFIG_DEFAULT_DEVICE_TREE="nuvoton-npcm750-evb"
CONFIG_SHA256SUM_VERIFY=y
CONFIG_NUVOTON_POLEG_I2C=y
CONFIG_DM=y
CONFIG_OF_CONTROL=y
CONFIG_OF_SEPARATE=n
CONFIG_OF_EMBED=y
CONFIG_DM_I2C=y
CONFIG_DM_I2C_COMPAT=n
CONFIG_BOOTSTAGE=n
CONFIG_CMD_I2C=y
CONFIG_CMD_SDRAM=n
CONFIG_IMAGE_FORMAT_LEGACY=y

