CONFIG_ARM=y
CONFIG_ARCH_NPCM7xx=y
CONFIG_TARGET_POLEG=y
CONFIG_ARCH_NPCM=y
CONFIG_SYS_ARM_ARCH=7
CONFIG_SYS_TEXT_BASE=0x8200
CONFIG_NR_DRAM_BANKS=2
CONFIG_DEFAULT_DEVICE_TREE="nuvoton-npcm750-buv"
CONFIG_ENV_IS_IN_SPI_FLASH=y
CONFIG_ENV_SIZE=0x40000
CONFIG_ENV_SECT_SIZE=0x4000
CONFIG_ENV_OFFSET=0x100000
CONFIG_ENV_ADDR=0x80100000
CONFIG_LAST_STAGE_INIT=y

CONFIG_DM=y
CONFIG_DM_SERIAL=y
CONFIG_NPCM_SERIAL=y
CONFIG_TIMER=y
CONFIG_NPCM_TIMER=y
CONFIG_CLK=y
CONFIG_CMD_UUID=y
CONFIG_CMD_SAVEENV=y
CONFIG_PINCTRL=y
CONFIG_PINCTRL_NPCM7XX=y
CONFIG_PINCONF=y
CONFIG_DM_GPIO=y
CONFIG_NPCM_GPIO=y
CONFIG_CMD_GPIO=y

CONFIG_SPI=y
CONFIG_DM_SPI=y
CONFIG_NPCM_FIU_SPI=y
CONFIG_NPCM_PSPI=y
CONFIG_SF_DEFAULT_BUS=0
CONFIG_SF_DEFAULT_CS=0
CONFIG_DM_SPI_FLASH=y
CONFIG_SPI_FLASH=y
CONFIG_SPI_FLASH_MACRONIX=y
CONFIG_SPI_FLASH_WINBOND=y
CONFIG_CMD_SF=y
CONFIG_CMD_MEMORY=y
CONFIG_CMD_CACHE=y
CONFIG_CMD_SPI=y

CONFIG_MISC=y
CONFIG_NPCM_OTP=y
CONFIG_SHA_HW_ACCEL=y
CONFIG_DM_RNG=y
CONFIG_CMD_AES=y
CONFIG_CMD_RNG=y
CONFIG_CMD_FUSE=y
CONFIG_CMD_HASH=y
CONFIG_NPCM_AES=y
CONFIG_NPCM_RNG=y
CONFIG_NPCM_SHA=y

CONFIG_CMD_PING=y
CONFIG_CMD_MII=y
CONFIG_CMD_DHCP=y
CONFIG_NET=y
CONFIG_NETDEVICES=y
CONFIG_PHY_BROADCOM=y
CONFIG_DM_ETH=y
CONFIG_PHY_GIGE=y
CONFIG_ETH_DESIGNWARE=y
CONFIG_RGMII=y
CONFIG_MII=y
CONFIG_ETH_NPCM750=y
CONFIG_PHY_FIXED=y

CONFIG_MMC=y
CONFIG_DM_MMC=y
CONFIG_CMD_MMC=y
CONFIG_MMC_SDHCI=y
CONFIG_MMC_SDHCI_NPCM=y

CONFIG_DM_I2C=y
CONFIG_NPCM_I2C=y
CONFIG_CMD_I2C=y

CONFIG_FIT=y
CONFIG_FIT_VERBOSE=y

CONFIG_HUSH_PARSER=y

CONFIG_REGMAP=y
CONFIG_SYSCON=y
CONFIG_DM_RESET=y
CONFIG_PHY=y
CONFIG_PHY_NPCM_USB=y
CONFIG_USB=y
CONFIG_USB_STORAGE=y
CONFIG_DM_USB=y
CONFIG_CMD_USB=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_EHCI_NPCM=y
CONFIG_USB_OHCI_NEW=y
CONFIG_USB_OHCI_HCD=y
CONFIG_USB_OHCI_NPCM=y
CONFIG_CMD_FAT=y
CONFIG_FAT_WRITE=y
CONFIG_CI_UDC=y
CONFIG_USB_GADGET=y
CONFIG_USB_GADGET_DOWNLOAD=y
CONFIG_USB_GADGET_MASS_STORAGE=y
CONFIG_CMD_USB_MASS_STORAGE=y
CONFIG_USB_GADGET_MANUFACTURER="Nuvoton"
CONFIG_USB_GADGET_VENDOR_NUM=0x0416
CONFIG_USB_GADGET_PRODUCT_NUM=0xffff

CONFIG_WDT=y
CONFIG_WDT_NPCM=y
CONFIG_CMD_WDT=y
# CONFIG_WATCHDOG is not set
