menu "Hardware crypto devices"

source drivers/crypto/fsl/Kconfig

config NPCM750_AES
	bool "Support the NPCTM750 AES algorithm"
	select NPCM750_OTP
	help
	  This provides a means to encrypt and decrypt data using the NPCM750
	  AES (Advanced Encryption Standard). This algorithm uses a symetric
	  key and is widely used as a streaming cipher. This command only
	  supports AES256-CBC.

config NPCM750_SHA
	bool "Enable NPCM750 cryptographic HW SHA accelerator"
	help
	  This option enables support of NPCM750 cryptographic HW SHA accelerator.
	  It supports SHA1 and SHA256 hashing algorithms.

endmenu
